# Python
venv/

.env

# FastAPI/Uvicorn logs
*.log

# VS Code settings (if you use it)
.vscode/

# Jupyter Notebook checkpoints (just in case)
.ipynb_checkpoints/

# Node
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/build/

**/__pycache__
backend/__pycache__




# Windows
Thumbs.db
desktop.ini

# General
*.bak
*.swp
*.tmp
*.orig

backend/credentials.json
backend/token.json
backend/.env
backend/email_preview.html
backend/test.html
backend/utility/credentials.json
backend/utility/token.json
credentials.json
token.json

backend/user_tokens/

database.db
backend/database.db
frontend/.env

extra.js
frontend/extra.js
backend/extra.js

token.txt
backend/token.txt
frontend/token.txt

user_tokens
frontend/user_tokens/
frontend/public/robots.txt

