numpy
ipykernel
fastapi
pandas
regex
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
transformers
torch
uvicorn
python-dotenv
scipy
threadpoolctl 
joblib
langchain
langchain-huggingface